body {
    font-family: 'Figtree', sans-serif;
    background-color:  hsl(47, 88%, 63%);
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#container {
    max-width: 384px;
    padding: 24px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
}

#container img {
    height: 200px;
    border-radius: 10px;
    width: 100%;
    display:block
}

#content h4 {
    margin-bottom: 0px;
    font-family: 'Figtree-ExtraBold', sans-serif;
    padding: 4px 12px;
    font-size: 14px;
    background-color:hsl(47, 88%, 63%) ;
    width: fit-content ;
    border-radius: 4px;
}

#date {
    margin: 0px;
    font-size: 14px;
}

#text a, a:visited {
    font-family: 'Figtree-ExtraBold', sans-serif;
    color: black;
    font-size: 24px;
    text-decoration: none;
}
#text a:hover, a:active, a:focus{
    color: hsl(47, 88%, 63%);
}

#text p {
    font-size: 16px;
    color: #6B6B6B;
}

#author {
    display: flex;
    align-items: center;
    font-family: 'Figtree-ExtraBold', sans-serif;
    gap: 8px;
}

#author img {
    width: 32px;
    height: 32px;
}

#author p {
    font-size: 14px;
}




footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 11px; text-align: center; 
}
footer a{ 
    color: hsl(0, 84%, 7%); 
}